.p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.roi p{
    color: aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRjwxnYIZx3wZRyviFe4249tPORALjjkOuWifOi-t1iKQ&s);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.img{
    border-radius: 40px;
}
.button{
    background-color: aqua;
}
    

